:root {
  /* CSS HEX */
  --onyx: #3c3c3cff;
  --bone: #d9d4c1ff;
  --verdigris: #83b3b3ff;
  --silver: #c8c8c8ff;
  --burnt-sienna: #d57f5cff;
  
}
body{
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
}
body::-webkit-scrollbar {
    display: none;
}

/* Untuk browser Firefox */
body::-moz-scrollbar {
  display: none;
}


.bungee{
    font-family: 'Bungee', sans-serif;
}
.bungee-shade{
    font-family: 'Bungee Shade', sans-serif;
}
.quicksand{
    font-family: 'Quicksand', sans-serif;
}
.large-text{
    font-size: 3rem;
}
.text{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

.retro-white{
    color: #f6f0f0;
}
.bg-retro-white{
    background-color: #f6f0f0;
}
.striped-border{
    border-bottom: 1px dashed var(--onyx);
}


nav{
    background-color: var(--verdigris);
    border-bottom: 1px dashed;
    width: 100vw;
}

.jumbo {
  background-color: var(--verdigris);
}
.retroimg{
    width: 80%;
    max-width: 600px;
}
.key{
    height: 100px;
}

.about{
    background-color: var(--bone);
    /* background-image: url("img/aboutbg.jfif"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
.whati{
    border: 2px solid black;
}

.portfolio{
    background-color: var(--burnt-sienna);
    /* background-image: url("img/aboutbg.jfif"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.card{
    width: 200px;
    height: 270px;
}
.card-body{
    height: 30%
}
.img-card{
    width: 100%;
    height: 65%;
    margin: 5px;
}
.img-typ{
    width: 20%;
    position: absolute;
    top: 60%;
    border: 5px solid white;
}
.ia{
    background: url("img/mygram.png");
    background-size: cover;
}
.ib{
    background: url("img/antique.png");
    background-size: cover;
}
.ic{
    background: url("img/rotol.png");
    background-size: cover;
}
.id{
    background: url("img/budgeting.png");
    background-size: cover;
}
.ie{
    background: url("img/tribute.png");
    background-size: cover;
}
.if{
    background: url("img/survey.png");
    background-size: cover;
}


.contact{
    width: 100vw;
    background-color: var(--onyx);
    color: var(--bone);
}
.formin{
    height: 200px;
}
input{
    background-color: var(--bone);
    border: 1px solid black;
    margin-bottom: 4px;
    height: 45px;
}
.subject{
    height: 100px;
    margin-bottom: 0px;
}
textarea{
    background-color: var(--bone);
    border: 1px solid black;
    margin-bottom: 4px;
    width: 100%;
}
button{
    background-color: orange;
    border: 1px solid black;
    width: 165px;
    height: 40px;
}

.footer{
    background-color: #0c0c0cff;
    color: white;
    height: 80px;
}